<div #details class="details" [ngStyle]="{ background: backgroundStyle, width: width + 'px' }">
  <div [ngStyle]="{ color: textStyle }" class="header">
    <h2>{{currentAlbum.name}}</h2>
    <h4>{{currentAlbum.artist}}<span *ngIf="currentAlbum.year"> ({{currentAlbum.year}})</span></h4>
  </div>
  <div *ngFor="let disk of disks" class="disk">
    <div *ngFor="let column of disk" class="column">
      <div *ngFor="let music of column" [ngClass]="{ selected: music === selected }" class="music"
           [ngStyle]="{ background: music === selected ? selectedBackgroundStyle : 'none', color: music === selected ? selectedTextStyle : textStyle }"
           (click)="select(music)" (dblclick)="play(currentAlbum.musics, currentAlbum.musics.indexOf(music))">
      <span *ngIf="music !== activeMusic || playerState !== PlayerState.Playing"
            class="number">{{music.track.no}}</span>
        <i *ngIf="music === activeMusic && playerState === PlayerState.Playing" class="playing fa fa-volume-down"
           aria-hidden="true"></i>
        <span class="title">{{music.title}}</span>
        <span class="duration">{{music.readableDuration}}</span>
      </div>
    </div>
  </div>
</div>
