@import '../../colors';

@keyframes slide-down {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

* {
  user-select: none;
}

.details {
  font-size: .8em;
  margin: 0 0 20px 20px;
  padding-bottom: 25px;
  box-sizing: border-box;
  cursor: default;
  animation: slide-down .1s ease-in-out;

  .disk {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    .column {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 400px;
      margin: 0 30px;

      .music {
        padding: 4px 10px;
        border-radius: 3px;

        .duration {
          float: right;
        }

        .number, .playing {
          display: inline-block;
          width: 25px;
          vertical-align: top;
        }

        .playing {
          font-size: 19px;
          vertical-align: middle;
        }

        .title {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: calc(100% - 80px);
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }

  .header {
    padding: 15px 0 0 18px;

    h2, h4 {
      display: inline-block;
      margin: 0;
    }

    h4 {
      margin-left: 15px;
      font-weight: normal;
      vertical-align: top;
      margin-top: 6px;
    }
  }
}
