<div *ngFor="let line of albumLines">
  <div class="item" *ngFor="let album of line"
       [ngClass]="{'default-preview fa fa-music': !album.imageUrl, 'selected': album === selectedAlbum}"
       [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + album.imageUrl + ')')"
       [ngStyle]="{width: itemSize + 'px', height: itemSize + 'px'}"
       (click)="toggleDetails(album)">
    <div [attr.style]="sanitizer.bypassSecurityTrustStyle('--details-background: ' + colorPalette[0])"
         *ngIf="album === selectedAlbum" class="caret"></div>
  </div>
  <app-details *ngIf="line.includes(selectedAlbum)" [album]="selectedAlbum" [colorPalette]="colorPalette"
               [width]="lineWidth"></app-details>
</div>
