$background-color: #111625;
$primary-color: #007ad8;
$secondary-color: lighten($background-color, 15%);
$text-color: lighten($background-color, 80%);

* {
  user-select: none;
  cursor: default;
}

.control-bar {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: .8em;
  overflow: hidden;
  color: $text-color;
  display: flex;
  height: 83px;
  padding-top: 10px;
  box-sizing: border-box;
  background: lighten($background-color, 5%);
  border-top: 1px solid darken($background-color, 5%);

  &.seeking .bar, .progress-bar:hover .bar {
    background: $primary-color;
  }

  &.seeking .bar:after, .progress-bar:hover .bar:after {
    content: "";
    background: $primary-color;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: -3px;
    right: -5px;
  }

  &.seeking .music-info * {
    user-select: none !important;
  }

  .bar {
    width: 0;
    background: #efefef;
    position: relative;
  }

  .bar-container {
    background: $secondary-color;
  }

  .bar-container, .bar {
    height: 4px;
    border-radius: 2px;
  }

  .button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
  }

  .button + .button {
    margin-left: 0;
  }

  .button:hover {
    color: lighten($text-color, 15%);
  }

  .button:active, .button.checked {
    color: $primary-color;
  }

  .controls {
    margin-right: 24px;
    text-align: center;
  }

  .default-preview {
    font-size: 40px;
    line-height: 62px;
    text-align: center;
    background: $secondary-color;
    color: $text-color;
  }

  .flex {
    display: flex;
  }

  .left {
    flex-grow: 1;
  }

  .music-info {
    @extend .text-ellipsis;
    flex: 0 0 158px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;
    overflow: hidden;

    .name, .artist {
      @extend .text-ellipsis;
      user-select: text;
      margin-top: 5px;
    }

    .artist {
      font-size: .8em;
    }
  }

  .music-preview {
    flex: 0 0 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: 62px;
    margin-left: 10px;
  }

  .play-button {
    font-size: 35px;
    line-height: 42px;
  }

  .prev-button, .next-button {
    font-size: 20px;
  }

  .progress-bar {
    margin: 6px 0;
    padding: 6px 5px;
    flex-grow: 1;
  }

  .progress-bar {
    margin: 0;
  }

  .random-button, .repeat-button {
    font-size: 15px;
    margin-top: 1px;
  }

  .right {
    flex-grow: 1;
    padding-right: 247px;
  }

  .text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .time {
    display: flex;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;

    .current-time {
      margin-right: 5px;
    }

    .current-time, .duration {
      text-align: center;
      font-size: .8em;
      line-height: 16px;
    }

    .duration {
      margin-left: 5px;
    }
  }
}
