@import '../colors';

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

:host {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: $secondary-color;
  }

  .item {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: contain;
    margin-bottom: 16px;
    margin-left: 20px;
    position: relative;

    &.default-preview {
      font-size: 90px;
      line-height: 200px;
      background: $secondary-color;
      text-align: center;
      color: $text-color;

      &:before {
        display: table;
        width: 100%;
      }
    }

    .caret {
      animation: hide .05s ease-out;

      &.shown {
        --details-background: $secondary-color;
        animation: show .05s ease-in;

        &:after {
          content: '\A';
          border-style: solid;
          border-width: 0 10px 15px 10px;
          border-color: transparent transparent var(--details-background) transparent;
          position: absolute;
          left: 50%;
          margin-left: -8px;
          bottom: -23px;
        }
      }
    }
  }

  .letter {
    position: fixed;
    top: 30px;
    left: 20px;
    width: 0;
    height: 0;
    color: $text-color;
    background: $background-color;
    z-index: 1;
    text-align: center;
    line-height: 80px;
    font-size: 0;
    transition-property: width, height, font-size;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    &.show {
      width: 80px;
      height: 80px;
      font-size: 50px;
      transition-timing-function: ease-in-out;
    }
  }
}
