<div class="buttons">
  <a class="minimize" (click)="minimize()">
    <svg x="0" y="0" viewBox="0 0 10.2 1">
      <rect fill="#ffffff" width="10.2" height="0.7"></rect>
    </svg>
  </a>
  <a class="maximize" (click)="maximize()">
    <svg x="0" y="0" viewBox="0 0 10.2 10.1">
      <path fill="#ffffff" d="M0,0v10.1h10.2V0H0z M9.2,9.2H1.1V1h8.1V9.2z"></path>
    </svg>
  </a>
  <a class="close" (click)="close()">
    <svg x="0" y="0" viewBox="0 0 10.2 10.2">
      <polygon points="10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1"
               fill="#ffffff"></polygon>
    </svg>
  </a>
</div>
